.header {
  width: 100%;
  height: auto;

  .header__container--purple {
    width: 100%;
    height: 5px;
    background-color: $purple;
    transition: 0.3s ease all;
    body.dark & {
      background-color: $black;
    }
  }

  .header__container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 26px 17px 22px;
    background: $white;
    transition: 0.3s ease all;

    body.dark & {
      background-color: $dark-gray;
    }

    img {
      width: 50px;
      height: 50px;
    }

    .header__input {
      display: block;
      width: 15px;
      height: 15px;
      opacity: 0;
      z-index: 2;
      position: absolute;
    }

    .header__list {
      width: 100%;
      height: 0px;
      position: absolute;
      top: 100px;
      right: 0;
      overflow: hidden;
      list-style: none;
      background: rgba(87, 46, 229, 0.9);
      transition: height 0.5s ease;
      z-index: 999;
      transition: 0.3s ease all;

      body.dark & {
        background-color: $black;
      }
    }

    .header__item {
      position: relative;
    }

    .header__item:first-child {
      margin-top: 32px;
    }

    .header__link {
      font-size: 1.5rem;
      text-align: center;
      line-height: 6rem;
      display: block;
      position: relative;
      padding: 0 5%;
      color: $white;
      text-decoration: none;

      &:first-child {
        font-family: inherit;

        margin: 0 auto;

        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .header__link--plus {
      display: none;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid $purple;
        cursor: pointer;

        body.dark & {
          background-color: transparent;
          border: 1px solid $white;

          &:hover {
            background: $white;
            border: none;

            span {
              background-image: url("https://svgur.com/i/VHJ.svg");
            }
          }

          span {
            background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/32f8e91ebaf2cd84ff9677adad2410d7ba1c1f21/src/assets/icon-plus-white.svg");
          }
        }

        span {
          display: block;
          width: 16px;
          height: 16px;
          background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/22982f93488939531983f4b1d58df2d89c711825/src/assets/icon-plus-purple.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
        }

        &:hover {
          border: none;
          background-color: $purple;

          span {
            background-image: url("https://svgur.com/i/Un9.svg");
            width: 16px;
            height: 16px;
          }
        }

        &:active {
          border: none;
          background-color: #979797;

          span {
            background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/32f8e91ebaf2cd84ff9677adad2410d7ba1c1f21/src/assets/icon-plus-white.svg");
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .header__divider {
      width: 41px;
      height: 0.1px;
      background-color: $white;
      opacity: 0.5;
      border: 0.7px solid $white;
      margin: 9px auto 12.5px;
    }

    .header__input:checked ~ .header__list {
      height: calc(100vh - 100px);
      transition: height 0.5s ease-in-out;
    }

    .header__menu-img {
      display: block;
      width: 15px;
      height: 14px;
      position: relative;
      background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/22982f93488939531983f4b1d58df2d89c711825/src/assets/icon-menu-header.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;

      body.dark & {
        background-image: url("https://svgur.com/i/VGR.svg");
      }
    }

    .header__input:checked ~ .header__menu-img {
      width: 14px;
      height: 14px;
      background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/22982f93488939531983f4b1d58df2d89c711825/src/assets/icon-menu-header-x.svg");

      body.dark & {
        background-image: url("https://svgur.com/i/VGx.svg");
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {

    .header__container--flex {
      padding: 18px 156px;

      img {
        width: 59.1px;
        height: 59.1px;
      }

      .header__nav {
        width: 80%;

        .header__menu {
          .header__input {
            display: none;
          }

          .header__menu-img {
            display: none;
          }

          .header__list {
            position: static;
            background: $white;
            height: 60px;
            width: 100%;
            @include flex(row, flex-end, center);

            body.dark & {
              background-color: $dark-gray;
            }

            .header__item {
              display: inline-block;

              &:first-child {
                margin-top: unset;
                padding-right: 41.5px;
              }

              &:nth-child(2) {
                padding-right: 50px;
              }

              &:nth-child(3) {
                padding-right: 59.5px;
              }

              .header__link {
                padding: unset;
                font-size: 1.3rem;
                font-weight: 700;
                color: $purple;
                letter-spacing: 0;
                text-align: center;
                text-transform: uppercase;
                height: 45px;

                &:active{
                  color: #9CAFC3;
                }

                &:hover {
                  border-bottom: 4px solid $blue;
                }

                body.dark & {
                  color: $white;

                  &:active{
                    color: #9CAFC3;
                  }
                }
              }

              .header__link--plus {
                display: inline-block;
              }

              .header__divider {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
