#mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;

  body.dark & {
    background-color: $light-black;
  }

  #theHoverDiv-- {
    display: none;
  }

  #theGif-- {
    width: 80%;
    height: 245px;
    max-width: 695px;
    object-fit: cover;
  }
  #sliderICons-- {
    width: 100%;
    position: absolute;
    top: 69%;
    right: 7%;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
  }

  #iconsContainers1--,
  #iconsContainers2--,
  #iconsContainers3-- {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  #iconsContainers3-- {
    position: absolute;
    top: -330px;
    right: -8px;
  }

  #firstIcon-- {
    width: 18px;
    height: 15.9px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/13964bfe2de43b5efc79bb3e6e83bb3ff3b0f619/src/assets/icon-heart.svg");
  }


  #lastIcon-- {
    background-image: url("https://raw.githubusercontent.com/llandkoer/proyectoGifOS/46efb5284492b22df1ad4eda298a63bf6eb14abf/src/assets/icon-close-purple.svg");
  }

  #textContainer-- {
    margin-top: 14px;
    display: block;
    top: 67.5%;
    right: -7%;
  }

  #textUser-- {
    margin-bottom: 6px;

    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: $black;

    body.dark & {
      color: $white;
    }
  }

  #textTitle-- {
    font-weight: 700;
    font-size: 1.6rem;
    color: $black;

    body.dark & {
      color: $white;
    }
  }
}

@media screen and (min-width: 768px) {
  #mainDiv {
    #textContainer-- {
      top: 63.5%;
      right: -9%;
    }
    #sliderICons-- {
      top: 65%;
      right: 10%;
    }
  }
}

@media screen and (min-width: 1024px) {
  #mainDiv {
    #sliderItem {
      height: 385px;
    }
    #textContainer-- {
      top: 60.5%;
      right: -15%;
    }
    #sliderICons-- {
      top: 62%;
      right: 15%;
    }
  }
}

@media screen and (min-width: 1250px) {
  #mainDiv {
    #textContainer-- {
      top: 59.5%;
      right: -22%;
    }
    #sliderIcons-- {
      top: 61%;
      right: 22%;
    }
  }
}

@media screen and (min-width: 1440px) {
  #mainDiv {
    #textContainer-- {
      top: 58.5%;
      right: -25%;
    }
    #sliderIcons-- {
      top: 59%;
      right: 25%;
    }
  }
}
