<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../dist/styles/styles.css"
    />
    <title>Document</title>
  </head>

  <body>
    <section class="create-gifos">
      <section class="create-gifos__main-container">
        <div class="create-gifos__main">
          <div class="create-gifos__icon-camara">
            <img
              class="create-gifos__camara"
              src="../assets/illustration-camara.svg"
              alt="Cámara"
            />
            <img
              class="create-gifos__light"
              src="../assets/illustration-light.svg"
              alt="Luz que emite la cámara"
            />
          </div>
          <h2>¿Nos das acceso a tu cámara?</h2>
          <p>
            El acceso a tu cámara será válido sólo por el tiempo en el que estés
            creando el GIFO.
          </p>
          <img
            class="create-gifos__icon-movie"
            src="../assets/illustration-movie.svg"
            alt="Cinta de película"
          />
          <span class="frames create-gifos__first-frame"></span>
          <span class="frames create-gifos__second-frame"></span>
          <span class="frames create-gifos__third-frame"></span>
          <span class="frames create-gifos__last-frame"></span>
        </div>
      </section>

      <div class="create-gifos__steps-container">
        <div class="create-gifos__steps--highlighted">
          <span>1</span>
        </div>

        <div class="create-gifos__steps">
          <span>2</span>
        </div>

        <div class="create-gifos__steps">
          <span>3</span>
        </div>
      </div>

      <div class="create-gifos__purple-bar"></div>
    </section>
  </body>
</html>
