<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="">
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.css">
      <title>Document</title>
  </head>
  <body>
    <section class="favorites">
      <img class="favorites__icon" src="../assets/icon-favorites.svg" alt="Icono de un rostro">
      <h2 class="favorites__h2">Favoritos</h2>
      <div class="favorites__grid">
        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt="">
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Icono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

        <div class="favorites__item">
          <img class="favorites__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="favorites__hover">
            <div class="favorites__hover-icon">
              <img src="../assets/icon-heart-full.svg" alt="Ícono es favorito">
              <img src="../assets/icon-download.svg" alt="Ícono descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="favorites__p">User</p>
            <p class="favorites__title">Título GIFO</p>
          </div>
        </div>

      </div>
      <button class="favorites__button" type="button">VER MÁS</button>
    </section>
  </body>
</html>