<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.min.css">
      <title>Document</title>
  </head>
  <body>
    <section class="FavoritosWC">
      <img class="FavoritosWC__icon" src="../assets/icon-favorites.svg" alt="Icono de un rostro">
      <h2 class="FavoritosWC__h2">Favoritos</h2>
      <div class="FavoritosWC__img">
        <img src="../assets/icon-heart-face.svg" alt="Icono gifos sin contenido">
      </div>
      <p class="FavoritosWC__word">"¡Guarda tu primer GIFO en Favoritos</p>
      <p class="FavoritosWC__tittle">para que se muestre aquí!"</p>
    </section>
  </body>
  </html>