<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.min.css">
      <title>Document</title>
  </head>
  <body>
    <section class="MisGifosWC">
      <img class="MisGifosWC__icon" src="../assets/icon-my-gifos.svg" alt="Icono de un rostro">
      <h2 class="MisGifosWC__h2">Mis GIFOS</h2>
      <div class="MisGifosWC__img">
        <img src="../assets/icon-face.svg" alt="Icono gifos sin contenido">
      </div>
      <p>¡Animáte a crear tu primer GIFO!</p>
    </section>
  </body>
  </html>