<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.css">
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <title>Document</title>
  </head>
  <body>
      <section class="hero">
        <h1 class="hero__h1">Inspírate, busca, guarda, y crea los mejores <span class="hero__h1-word">GIFOS</span></h1>
        <img class="hero__img" src="../assets/illustration-people.svg" alt="Ilustración de personas Gifos">

        <div class="container-search-gifos">
          <input type="text" class="search-bar" id="search-bar" placeholder="Busca GIFOS y más">
          <button class="button-search" id="button-search">
            <i class="search-icon fas fa-search"></i>
          </button>
          <button class="button-clean" id="button-clean">
            <i class="clean-icon fas fa-times"></i>
          </button>
          <div class="line-search-section"></div>
          <div class="container-suggestions-search" id="cont-suggestion-search">
          </div>
        </div>
        <div class="suggestion">
          <i class="search-icon-suggestion fas fa-search"></i>
          <span class="input-suggestion"></span>
        </div>

        <div class="hero__text-container">
          <h3 class="hero__h3">Trending:</h3>
          <p class="hero__p">Reactions, Entertainment, Sports, Stickers, Artists</p>
        </div>
      </section>
  </body>
</html>

<!-- <script src="js/suggestions.js"></script> -->
<!-- <script src="js/script.js"></script> -->


