<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.min.css">
      <title>Document</title>
  </head>
  <body>
    <section class="MisGifos">
      <img class="MisGifos__icon" src="../assets/icon-my-gifos.svg" alt="Icono de un rostro">
      <h2 class="MisGifos__h2">Mis GIFOS</h2>
      <div class="MisGifos__father">
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
        <div class="MisGifos__item">
          <img
            class="MisGifos__img"
            src="https://bit.ly/2PkhTNg"
            alt="Imagen de prueba"
          />
          <div class="MisGifos__hover"></div>
          <div class="MisGifos__icons">
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--first"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--second"></span>
            </div>
            <div class="MisGifos__icon-container">
              <span class="MisGifos__icon--last"></span>
            </div>
          </div>
          <div class="MisGifos__text">
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>
  
      </div>
  </body>
</html>