<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="">
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" type="text/css" href="../sass/styles.css">
      <title>Document</title>
  </head>
  <body>
    <section class="MisGifos">
      <img class="MisGifos__icon" src="../assets/icon-my-gifos.svg" alt="Icono de un rostro">
      <h2 class="MisGifos__h2">Mis GIFOS</h2>
      <div class="MisGifos__grid">
        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div> 

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

        <div class="MisGifos__item">
          <img class="MisGifos__img" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt=""> <!---imagen prueba GifOs--->
          <div class="MisGifos__hover">
            <div class="MisGifos__hover-icon">
              <img src="../assets/icon-delete.svg" alt="Icono eliminar">
              <img src="../assets/icon-download.svg" alt="Iconoc descargar">
              <img src="../assets/icon-max.svg" alt="Icono agrandar">
            </div>
            <p class="MisGifos__p">User</p>
            <p class="MisGifos__title">Título GIFO</p>
          </div>
        </div>

      </div>
      <button class="MisGifos__button" type="button"><a href="">VER MÁS</a></button>
    </section>
  </body>
</html>