<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.min.css">
  <title>Document</title>
</head>
<body>
  <section class="open__gifo">
    <span class="open__gifo-close">
      <img class="img__gifo-close" src="../assets/icon-close-purple.svg" alt="Icono close">
    </span>
    <div class="open__gifo-img">
      <img class="img__open-gifo" src="https://img.freepik.com/vector-gratis/ilustracion-dibujos-animados-lindo-axolotl-concepto-amor-animal-aislado-caricatura-plana_138676-2290.jpg?size=338&ext=jpg" alt="">
    </div>
    <span class="open__gifo-text">
      <p class="open__gifo-word">User</p>
      <p class="open__gifo-tittle">Título GIFO</p>
    </span>
    <div class="open__gifo-icon">
      <img class="img__gifo-icon" src="../assets/icon-heart-full.svg" alt="Icono corazon">
      <img class="img__gifo-icon" src="../assets/icon-download.svg" alt="Icono descarga">
    </div>
  </section>
</body>
</html>