<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.min.css">
      <title>Document</title>
  </head>
  <body>
      <section class="slider">
        <h2 class="slider__h2">Trending GIFOS</h2>
        <p class="slider__subtitle">Mira los últimos GIFOS de nuestra comunidad.</p>
        <div class="slider__container">
          <div class="slider__arrow">
            <span class="arrow-left"></span>
          </div>
  
          <div class="slider__item">
            <img
              class="slider__img"
              src="https://bit.ly/2PkhTNg"
              alt="Imagen de prueba"
            />
            <div class="slider__hover"></div>
            <div class="slider__icons">
              <div class="slider__icon-container">
                <span class="slider__icon--first"></span>
              </div>
              <div class="slider__icon-container">
                <span class="slider__icon--second"></span>
              </div>
              <div class="slider__icon-container">
                <span class="slider__icon--last"></span>
              </div>
            </div>
            <div class="slider__text">
              <p class="slider__p">User</p>
              <p class="slider__title">Título GIFO</p>
            </div>
          </div>
  
          <div class="slider__item">
            <img
              class="slider__img"
              src="https://bit.ly/2PkhTNg"
              alt="Imagen de prueba"
            />
            <div class="slider__hover"></div>
            <div class="slider__icons">
              <div class="slider__icon-container">
                <span class="slider__icon--first"></span>
              </div>
              <div class="slider__icon-container">
                <span class="slider__icon--second"></span>
              </div>
              <div class="slider__icon-container">
                <span class="slider__icon--last"></span>
              </div>
            </div>
            <div class="slider__text">
              <p class="slider__p">User</p>
              <p class="slider__title">Título GIFO</p>
            </div>
          </div>
  
          <div class="slider__item">
            <img
              class="slider__img"
              src="https://bit.ly/2PkhTNg"
              alt="Imagen de prueba"
            />
            <div class="slider__hover"></div>
            <div class="slider__icons">
              <div class="slider__icon-container">
                <span class="slider__icon--first"></span>
              </div>
              <div class="slider__icon-container">
                <span class="slider__icon--second"></span>
              </div>
              <div class="slider__icon-container">
                <span class="slider__icon--last"></span>
              </div>
            </div>
            <div class="slider__text">
              <p class="slider__p">User</p>
              <p class="slider__title">Título GIFO</p>
            </div>
          </div>
  
          <div class="slider__arrow">
            <span class="arrow-right"></span>
          </div>
        </div>
      </section>
    </body>
  </body>
</html>